
*{
    /* margin: auto; */
}


.top-nav {
   padding: 20px;
   height: 50px;
   color: bisque;
   position: top;
   background-image: url("./images/nav-image.png");
   text-align: center;
 }
 span{
     color:rgb(168, 212, 65);
 }

.band {
    padding: 10px;
    color:rgb(168, 212, 65);
    background-color: rgb(243, 235, 235);  
    display: grid;
    justify-content: center;
    
    
}

#social-media { 

    font-size: 24pt;
    width: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:  200px 35px 35px 35px;
    grid-auto-flow: row;
    
}
#social-media > a{
    text-decoration:none;
    color: rgb(104, 164, 184); 
}

.write-up{
    display:grid;
    text-align: center;
    justify-content: center;
    background-color: antiquewhite;
}

.bio{
    margin: 10px;
    padding: 10px;
    text-align: justify;
    
}
.container {
    display: grid;
    background-color: antiquewhite;
}

}
.my-skills {
    display: grid;
    grid-area: sk;
    text-align: left;
        
}
.work-exp {
    display: grid;
    text-align: left;
    grid-area: wk;
    
}

.education {
    display: grid;
    text-align: left;
    grid-area: ex;
}

.bottom-container {
    display:flex;
    flex-direction: column;
    text-align: center;  
    background-color: rgb(196, 139, 64);
    position: bottom;
}
@media screen and (max-width: 400px) {
    .container {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            grid-template-areas:
            "sk" 
            "wk" 
            "ex"
            ;
          }
    
}

@media screen and (min-width: 401px) and (max-width: 700px) {
    .container {
        height: 100%;
        width: 100%;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns:  auto;
            grid-template-areas:
            "sk  wk" 
            "ex ..."
            ;
          }
    
    
    
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .container {
        
        display: grid;
        grid-template-rows: auto;
        grid-template-columns:  auto;
        grid-template-areas:
        "sk  wk" 
        "ex  ..."
        ;
    }
    
}
@media screen and (min-width: 1001px) {
    .container {
        
        display: grid;
        grid-template-rows: auto;
        grid-template-columns:  350px;
        grid-template-areas:
        "sk  wk ex" 
        
    }

} 
 

